$primary-color: #fff; // Background spalva ir
$section-color: #f8f9fa; // Papildoma section spalva
$footer-color: #343a40; // Footer spalva
$default-text-color: #212529; // Bazine teksto spalva
$focus-text-color: #f5ba4b; // Geltonos spalvos akcentas spalva

body {
  background-color: $primary-color;
  font-family: "Fira Mono", monospace;
}
h1,
h2,
h3,
p {
  color: $default-text-color;
}
.container {
  margin: auto;
  width: 80%;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $default-text-color;
    padding: 0 5px;
    font-size: 12px;
  }
  p {
    font-size: 12px;
    line-height: 2;
  }
}
.navbar {
  display: flex;
  padding: 15px 0;
  justify-content: flex-start;

  .logo {
    width: 11%;
  }
  .social {
    width: 15%;
    border-left: 2px $default-text-color solid;
  }
  .navigation {
    width: 74%;
    text-align: right;
    :last-child {
      border-left: 2px $default-text-color solid;
    }
  }
  .burger {
    visibility: hidden;
  }
}

.bg-image {
  background-image: url(../img/bg.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.showing-text {
  width: 480px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

  h2,
  p {
    color: $primary-color;
    margin-bottom: 50px;
  }
  .button {
    padding: 15px 15px;
    border: 1px $focus-text-color solid;
    text-decoration: none;
    color: $primary-color;
    margin: 20px 0;
  }
}
.center-text {
  margin: 50px auto;
  text-align: center;
  width: 500px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .first-column,
  .second-column,
  .third-column {
    width: 30%;
    padding: 0 10px;
    text-align: center;
    align-items: center;
  }
  & .fas {
    color: $focus-text-color;
  }
}

.bg-full {
  background-color: $section-color;
}
.reference {
  padding: 80px 0;
  h2 span {
    color: $focus-text-color;
  }
  .refer {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    .refer-one {
      width: 65%;
      p {
        padding: 0 20px 20px 0;
        margin-bottom: 20px;
      }
      .button {
        padding: 15px 15px;
        border: 1px $focus-text-color solid;
        text-decoration: none;
        color: $default-text-color;
        text-transform: uppercase;
        margin: 20px 0;
      }
    }
    .refer-two {
      display: inline;
      border-left: 1px $focus-text-color solid;
      padding: 0 10px;
      width: 30%;
      p {
        padding: 0 0 20px 20px;
      }
    }
  }
}
.photo-center img {
  width: 100%;
  height: 650px;
}
.photo-list {
  display: flex;
  column-gap: 10px;
  & img {
    width: 100%;
  }
}
footer {
  padding: 60px 0;
  margin-top: 40px;
  background-color: $footer-color;
  color: $primary-color;
  .footer-footer {
    display: flex;
    flex-wrap: wrap;
    .logo-footer,
    .navigation-footer,
    .copyright,
    .social-footer {
      padding: 10px 0;
      width: 50%;
      p,
      a {
        color: $primary-color;
      }
    }
    .navigation-footer,
    .social-footer {
      text-align: right;
    }
    .social-footer a {
      color: $focus-text-color;
    }
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    flex: 60%;
  }
  .social,
  .navigation {
    display: none;
  }
  .navbar .burger {
    visibility: visible;
  }
  .first-column,
  .second-column,
  .third-column {
    flex: 100%;
  }
  .refer-one,
  .refer-two {
    flex: 100%;
    padding: 20px 0 20px 0;
  }
  .refer-two {
    margin-top: 20px;
  }
  .photo-center img {
    width: 100%;
    height: auto;
  }
  .photo-list {
    display: flex;
    column-gap: 10px;
    & img {
      width: 107%;
    }
    .img-3,
    .img-4 {
      display: none;
    }
  }
  .logo-footer,
  .navigation-footer,
  .copyright,
  .social-footer {
    flex: 100%;
  }
  .footer-footer {
    .navigation-footer,
    .social-footer {
      text-align: left;
    }
  }
}
