body {
  background-color: #fff;
  font-family: "Fira Mono", monospace;
}

h1,
h2,
h3,
p {
  color: #212529;
}

.container {
  margin: auto;
  width: 80%;
}

.container a {
  text-transform: uppercase;
  text-decoration: none;
  color: #212529;
  padding: 0 5px;
  font-size: 12px;
}

.container p {
  font-size: 12px;
  line-height: 2;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .logo {
  width: 11%;
}

.navbar .social {
  width: 15%;
  border-left: 2px #212529 solid;
}

.navbar .navigation {
  width: 74%;
  text-align: right;
}

.navbar .navigation :last-child {
  border-left: 2px #212529 solid;
}

.navbar .burger {
  visibility: hidden;
}

.bg-image {
  background-image: url(../img/bg.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.showing-text {
  width: 480px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.showing-text h2,
.showing-text p {
  color: #fff;
  margin-bottom: 50px;
}

.showing-text .button {
  padding: 15px 15px;
  border: 1px #f5ba4b solid;
  text-decoration: none;
  color: #fff;
  margin: 20px 0;
}

.center-text {
  margin: 50px auto;
  text-align: center;
  width: 500px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .first-column,
.content .second-column,
.content .third-column {
  width: 30%;
  padding: 0 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .fas {
  color: #f5ba4b;
}

.bg-full {
  background-color: #f8f9fa;
}

.reference {
  padding: 80px 0;
}

.reference h2 span {
  color: #f5ba4b;
}

.reference .refer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reference .refer .refer-one {
  width: 65%;
}

.reference .refer .refer-one p {
  padding: 0 20px 20px 0;
  margin-bottom: 20px;
}

.reference .refer .refer-one .button {
  padding: 15px 15px;
  border: 1px #f5ba4b solid;
  text-decoration: none;
  color: #212529;
  text-transform: uppercase;
  margin: 20px 0;
}

.reference .refer .refer-two {
  display: inline;
  border-left: 1px #f5ba4b solid;
  padding: 0 10px;
  width: 30%;
}

.reference .refer .refer-two p {
  padding: 0 0 20px 20px;
}

.photo-center img {
  width: 100%;
  height: 650px;
}

.photo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.photo-list img {
  width: 100%;
}

.map {
  width: 100%;
  height: 350px;
  border: none;
}

footer {
  padding: 60px 0;
  margin-top: 40px;
  background-color: #343a40;
  color: #fff;
}

footer .footer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-footer .logo-footer,
footer .footer-footer .navigation-footer,
footer .footer-footer .copyright,
footer .footer-footer .social-footer {
  padding: 10px 0;
  width: 50%;
}

footer .footer-footer .logo-footer p,
footer .footer-footer .logo-footer a,
footer .footer-footer .navigation-footer p,
footer .footer-footer .navigation-footer a,
footer .footer-footer .copyright p,
footer .footer-footer .copyright a,
footer .footer-footer .social-footer p,
footer .footer-footer .social-footer a {
  color: #fff;
}

footer .footer-footer .navigation-footer,
footer .footer-footer .social-footer {
  text-align: right;
}

footer .footer-footer .social-footer a {
  color: #f5ba4b;
}

@media only screen and (max-width: 768px) {
  .logo {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
  }
  .social,
  .navigation {
    display: none;
  }
  .navbar .burger {
    visibility: visible;
  }
  .first-column,
  .second-column,
  .third-column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .refer-one,
  .refer-two {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 20px 0 20px 0;
  }
  .refer-two {
    margin-top: 20px;
  }
  .photo-center img {
    width: 100%;
    height: auto;
  }
  .photo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .photo-list img {
    width: 107%;
  }
  .photo-list .img-3,
  .photo-list .img-4 {
    display: none;
  }
  .logo-footer,
  .navigation-footer,
  .copyright,
  .social-footer {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .footer-footer .navigation-footer,
  .footer-footer .social-footer {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */